<!-- Header -->
<div th:fragment = "header">
    <!-- Navbar -->
<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" th:href="@{/admin}">
        <span>TECH</span>PATH
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/products}">Productos</a>
            <a class="nav-link" th:href="@{/admin/users}">Usuarios</a>
          </li>
        </ul>
  
         <!-- Search form -->
         <form class="input-group w-auto my-auto d-none d-sm-flex">
          <input
            autocomplete="off"
            type="search"
            aria-label="Search"
            class="form-control rounded"
            placeholder="Buscar"
            name="nombreBusqueda"
            style="min-width: 50px; color: var(--blue)"
          />
          <button type="submit" 
                  class="btn btn-floating"
                  style="display: flex;
                         padding: 0;
                         margin-right: 40px;
                         align-items:center;
                         justify-content:center;
                         text-align:center;
                         background-color: var(--purple);"
                  >
            <span class="input-group-text border-0 d-none d-lg-flex" 
            ><i class="fas fa-search" style="color: var(--white)"></i></span>
        </form>
        <!-- Left links -->
  
        <div class="d-flex align-items-center id="navbarButtonsExample"">
          <button type="button" class="btn-login btn px-3 me-2">
            Iniciar sesión
          </button>
          <button type="button" class="btn-signUp btn btn-primary me-3">
            Registrarse
          </button>
        <!-- Icon -->
        <a class="icon-cart link-secondary me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>
        <!-- Avatar -->
        <div class=" avatar dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li class="dropdown-item disabled">
              ADMIN
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/user/logout}">Cerrar Sesión</a>
            </li>
          </ul>
        </div>  
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- End Navbar -->
</div>

    

    <!-- Footer -->
    <div th:fragment="footer">
        <footer class="py-5 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; TECHPATH 2022</p>
            </div>
            <!-- /.container -->
          </footer>
    </div>
