<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeLeaf.org" > 

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TECHPATH Ecommerce</title>


  <!-- Bootstrap CSS -->
  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{css/font-awesome.css}">
  <link th:href="@{css/mdb.dark.min.css}" rel="stylesheet">
  <link th:href="@{css/home-admin.css}" rel="stylesheet">
  <link th:href="@{/css/create.css}" rel="stylesheet">


  <link
      rel="stylesheet"
      class="js-color-style"
      th:href="@{css/colors/color-1.css}"
    />

</head>

<body>

 <!-- Navbar -->
<div class="sticky-top" th:include="admin/template_admin.html::header"></div>
<!-- End Navbar -->

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    <small>Productos</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/admin}">Home</a></li>
    <li class="breadcrumb-item active">Productos</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/products/create}" > Crear Producto</a>
  <h2>Lista de productos</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Inventario</th>
        <th scope="col">Precio</th>
        <th scope="col">Acción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="producto:${products}">
        <td th:text="${producto.nombre}" ></td>
        <td th:text="${producto.descripcion}"></td>
        <td th:text="${producto.cantidad}"></td>
        <td th:text="${producto.precio}"></td>
        <td><a  class="btn btn-warning" th:href="@{products/edit/{id} (id=${producto.id})} ">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{products/delete/{id} (id=${producto.id})} ">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

   <!-- Footer -->
   <div th:include="admin/template_admin.html::footer"></div>

   <!-- Bootstrap core JavaScript -->
   <script th:src="@{js/main.js}"></script>
   <script th:src="@{js/mdb.min.js}"></script>
</body>

</html>
